provider "aws" {
  region	= var.aws_region
}

resource "aws_security_group" "bastion_sg" {
  name 		= var.bastion_security_group_name
  
  ingress {
    from_port	= 22
    to_port	= 22
    protocol	= "tcp"
    cidr_blocks	= ["0.0.0.0/0"]
  }

  egress {
    from_port	= 0
    to_port	= 0
    protocol	= "-1"
    cidr_blocks	= ["0.0.0.0/0"]
  }

  tags		= {
    Name	= var.bastion_security_group_name
  }
}

resource "aws_instance" "bastion" {
  ami		= var.bastion_ami_id
  instance_type	= var.bastion_instance_type
  associate_public_ip_address	= true
  
  tags		= {
    Name	= var.bastion_name
  }

  key_name			= var.bastion_public_ssh_key_name
  vpc_security_group_ids	= [aws_security_group.bastion_sg.id]
  
  root_block_device {
    delete_on_termination 	= true
    volume_size			= var.volume_size
    volume_type			= "standard"
  }
  provisioner "remote-exec" {
    inline	= [
      "sudo dnf install -y podman git vim",
      "sudo dnf update -y"
    ]

    connection {
      type		= "ssh"
      user		= var.ssh_user
      private_key	= file(var.ssh_private_key_path)
      host		= self.public_ip
    }
   }
}
output "bastion_public_ip" {
  value = aws_instance.bastion.public_ip
}
